@import 'normalize';

body {
  text-align: center;
  img {
    margin-top: 10%;
    width: 250px;
  }
  div {
    margin: 60px auto;
    width: 200px;
    a {
      text-decoration: none;
      font-size: 10px;
      color: #2c2c2c;
    }
  }
}